<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kalic.mapper.OrderItemMapper">

    <insert id="insOrderItem">
        insert into orderItem (orderid, pid, pnumber) values (#{orderid}, #{pid}, #{pnumber});
    </insert>

    <select id="selOrderItemByOrderId" resultType="orderItem">
        select * from orderItem where orderid = #{orderId}
    </select>

  </mapper>